@charset "utf-8"; 
@import url(reset.css);
body{background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(left, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */}
#conteiner{width:960px;margin:0px auto;}
 #conteiner .logo{width:256px;margin:20px 10px 5px 38%}
#content div{width:800px;height:250px;margin:40px auto;text-align:left;} 
 #content div h1{font-size:3em;padding:10px 0px 10px 20px}
  #content div p{font-size:1.4em;padding:10px 0px 10px 20px}
#footer{width:800px;background:#0c3e6e;height:100px;border-radius:10px;overflow:hidden;margin:40px auto;}
  #footer p{text-align:center;margin-top:30px;font-size:1em;color:#fff}
  #footer a{color:#fff}
