<!DOCTYPE	  HTML>
<html>
<head><title>EventeX</title></head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/geral.css">
<body>
<div id="conteiner">
<div id="content">
  <img class="logo"  src="{{	  STATIC_URL	  }}img/logo.png"	  />
  <div>
    <h1> Bem vindo ao EventeX!</h1>
    <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
    <p>Você não pode perder esta oportunidade!</p>	
    <p><strong>Abertura das inscrições em 21/08/2011.</strong></p>
    <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p> 	
  </div>
</div><!--/content-->
<div id="footer">
<p>&copy; 2010.
<a href="http://eventex.herike.com" rel="license">EventeX</a>
, some rights reserved. </p>
</div>

<div><!--conteiner-->
</body>
</html>

